/***************** Colors *****************/

$text: #050A73;
$hover: #D40A7C;
$background: #CEDAFF;
$white: #fff;
$headerFooter: #B2A2F2;


/***************** Font Stacks *****************/

$helveticaFontStack: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headerFont: 'Alegreya', serif;
$bodyFont: 'Open Sans', sans-serif;

/***************** Font Size *****************/
$base: 1em;

/***************** Media Query Breakpoints *****************/

$brkNarrow: 768px;
$brkWide: 1024px;

/***************** Border Radius *****************/
$bRadius: 10px;